/.git
/.vscode
/node_modules
/vendor
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
/.env
/.phpunit.result.cache
/public/storage
/public/hot
/docker-compose*.yml
/scratch
/.autoclaw-attachments
